@charset "utf-8";
.song {
  line-height: 1.8;
  word-wrap: break-word;
  font-size: 15px;
  letter-spacing: 0.04em;
  color: #333;
  padding: 0 40px;
  margin: 20px 0;
  font-family: 'Noto Sans SC', sans-serif;
}
.song address,
.song caption,
.song cite,
.song code,
.song dfn,
.song th {
  font-style: normal;
}
.song caption,
.song th {
  text-align: left;
}
.song q:after,
.song q:before {
  content: '';
}
.song code,
.song kbd,
.song pre,
.song pre tt {
  font-family: Consolas, Courier, 'Courier New', monospace;
}
.song figcaption {
  font-size: 80%;
  color: rgba(0, 0, 0, 0.54);
}
.song dl,
.song figure,
.song form,
.song hr,
.song ol,
.song p,
.song pre,
.song table,
.song ul {
  margin: 0 0 1.2em 0;
}
.song figure {
  max-width: 100%;
  margin: 1.5em 0;
  padding: 0 0.5em 0.5em 0.5em;
  text-align: center;
  border: 1px dashed #eee;
  position: relative;
  background-color: #f9f9ff;
}
.song figure img {
  max-width: 100%;
  margin: 0 auto;
  height: auto;
  padding-top: 0.5em;
  text-align: center;
  display: block;
}
.song a {
  position: relative;
  display: inline-block;
  overflow: hidden;
  color: #fe6061;
  text-decoration: none;
  vertical-align: top;
  outline: 0;
}
.song a:focus:before,
.song a:hover:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.song blockquote {
  padding-left: 1em;
  margin: 1em 3em 1em 2em;
  border-left: 4px solid rgba(0, 0, 0, 0.12);
}
@media only screen and (max-width: 599px) {
  .song blockquote {
    margin: 1em 0;
  }
}
.song blockquote footer {
  font-size: 86%;
  color: rgba(0, 0, 0, 0.54);
}
.song mark {
  padding: 2px;
  margin: 0 5px;
  background: #fff5f5;
  color: #ff6666;
}
.song h1,
.song h2,
.song h3,
.song h4,
.song h5,
.song h6 {
  margin-top: 1.2em;
  margin-bottom: 0.6em;
  font-family: inherit;
  line-height: 1.35;
  color: inherit;
  position: relative;
  padding-left: 20px;
}
.song h1 {
  font-size: 2em;
}
.song h2 {
  font-size: 1.8em;
}
.song h3 {
  font-size: 1.6em;
}
.song h4 {
  font-size: 1.4em;
}
.song h5 {
  font-size: 1.2em;
}
.song h6 {
  font-size: 1.1em;
}
.song h1:before,
.song h2:before,
.song h3:before,
.song h4:before,
.song h5:before,
.song h6:before {
  font-weight: 600;
  position: absolute;
  top: 0;
  left: 0px;
  content: '#';
  color: #eb5055;
}
.song code {
  padding: 2px 6px;
  color: #c7254e;
  background-color: #f7f7f9;
  border-radius: 2px;
}
.song pre code {
  padding: 0;
  font-size: inherit;
  line-height: 1.7;
  color: inherit;
  background-color: transparent;
  border-radius: 0;
}
.song ins {
  text-decoration: none;
  border-bottom: 1px solid;
}
.song u {
  text-decoration: none;
  border-bottom: 1px solid;
}
.song del {
  text-decoration: line-through;
}
.song hr {
  display: block;
  border: 0;
  margin: 2.24em auto 2.86em;
}
.song hr:after {
  color: #999;
  font-size: 1.1em;
  display: block;
  content: "~ ~ ~ ~";
  text-align: center;
}
.song pre {
  padding: 12px 16px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 2px;
}
.song ul li,
.song ol li {
  padding: 15px 0;
  border-bottom: 1px solid #ededed;
  line-height: 25px;
}
.song ul li:last-child,
.song ol li:last-child {
  border-bottom: none;
}
.song ul li {
  position: relative;
  list-style: none;
}
.song ul li:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background: #f78c93;
  left: -15px;
  top: 50%;
  margin-top: -3px;
  border-radius: 50%;
}
.song ul,
.song ol {
  padding-left: 2em;
  list-style: circle;
  margin: 0;
  padding: 5px 20px;
  border: 1px solid #ededed;
  border-radius: 3px;
  padding-left: 35px;
  margin: 30px 0;
}
.song ol {
  padding-left: 2em;
  list-style: decimal;
}
.song li ol,
.song li ul {
  margin: 0.8em 0;
}
.song li ul {
  list-style-type: circle;
}
.song .task-list-item {
  position: relative;
}
.song img {
  max-width: 100%;
}
.song table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1.5em;
  font-size: 0.96em;
  box-sizing: border-box;
  border-width: 1;
}
.song th,
.song td {
  text-align: left;
  padding: 8px;
  border: 1px solid #efefef;
}
.song tr:nth-child(even) {
  background-color: #F7FAFC;
}
.song .footnotes {
  font-size: 80%;
  line-height: 1.32;
  opacity: 0.96;
}
.song .footnotes:before {
  content: "";
  display: block;
  border-top: 4px solid rgba(0, 0, 0, 0.1);
  width: 50%;
  max-width: 100px;
  margin: 40px 0 20px;
}
/*公共*/
* {
  -webkit-tap-highlight-color: transparent;
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-family: 'Noto Sans SC', sans-serif;
  font-weight: 400;
  background: #E8ECEF;
  color: #333;
  text-align: justify;
  font-size: 14px;
}
a {
  text-decoration: none;
  color: #333;
}
.main {
  background: #FFFFFF;
  width: 780px;
  margin: 0 auto;
  margin-top: 60px;
  border-radius: 5px;
  box-shadow: 10px 10px 20px -15px rgba(0, 0, 0, 0.3), -10px 10px 20px -15px rgba(0, 0, 0, 0.3);
}
/*头部*/
#header {
  padding: 50px 40px 120px;
}
.header-basic {
  float: left;
}
.header-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}
.header-description {
  color: #bbbbbb;
  font-style: italic;
}
.navigation {
  float: right;
  padding: 10px 0;
}
.navigation li {
  display: inline;
  margin-left: 10px;
}
.navigation a {
  display: inline;
  color: #666;
}
.icoon {
  font-size: 18px !important;
}
#menu-checkbox {
  display: none;
}
#menu-checkbox:checked ~ .meun-list {
  display: block;
}
.meun-list li {
  margin-left: 0!important;
  padding: 10px;
  display: list-item;
}
.meun-list {
  display: none;
  position: absolute;
  background: #fafafa;
  margin: 0;
  padding: 5px;
  list-style: none;
  border-radius: 5px;
  z-index: 99;
  border: none;
  top: 90px;
  right: 10px;
}
.navigation-phone {
  display: none;
}
/* 搜索 */
/*列表*/
.list {
  border-bottom: 1px solid #F3F3F3;
  padding: 10px 40px 50px;
  margin: 0 0 10% 0;
}
.list-title {
  font-size: 18px;
  font-weight: 600;
}
.list-outline p {
  letter-spacing: 0.04em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  color: #666;
  line-height: 2;
  font-family: 'Noto Sans SC', sans-serif;
}
.list-time {
  font-size: 12px;
  color: #bbbbbb;
}
.list-time a {
  color: #bbbbbb !important;
}
/*分页*/
.paging {
  padding: 0 0 12% 0;
}
.paging a {
  margin: 0 5%;
  color: #666;
}
.paging-next {
  float: right;
}
.icco {
  font-size: 12px !important;
}
/*内容*/
.post-img {
  width: 100%;
  height: 400px;
  margin-top: 20px;
}
.post-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.post-title {
  padding: 0 40px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}
.post-time {
  padding: 0 40px;
  font-size: 12px;
  color: #bbbbbb;
}
#eof {
  text-align: center;
  font-size: 1.5em;
  line-height: 1em;
  margin: 2em auto;
  font-weight: 100;
  color: #c2c6cc;
  font-family: Microsoft Yahei, sans-serif;
}
#eof:before {
  content: '——';
  margin-right: 20px;
}
#eof:after {
  content: '——';
  margin-left: 10px;
}
.comments {
  padding: 0 40px;
  margin-bottom: 20px;
}
article:after,
.main:after {
  display: table;
  clear: both;
  content: '';
}
/*归档*/
.archives {
  padding: 10px 40px 50px;
}
.archives-year {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}
.archives-time {
  float: right;
  color: #bbbbbb;
  font-size: 12px;
}
.archives-list {
  margin-bottom: 20px;
}
.archives-frame {
  margin-bottom: 40px;
}
/*友情链接*/
.links {
  padding: 20px 40px;
}
.link {
  float: left;
  width: 25%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 8px;
  padding-left: 8px;
  padding-bottom: 8px;
  line-height: 1.8;
}
.link img {
  float: left;
  width: 36px;
  height: 36px;
  border-radius: 4px;
  margin-right: 8px;
}
.link-k {
  padding: 4px;
  border: 1px solid #cfd8dc;
  border-radius: 4px;
  display: block;
  overflow: hidden;
}
.link-title {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.link a {
  color: #555;
}
/*其他页面*/
.post_content {
  padding: 20px 40px;
}
.image_title {
  text-align: center;
}
/*页脚*/
.footer {
  padding: 20px 0;
  text-align: center;
}
.foot-ico {
  font-size: 16px !important;
}
.fooer-link li {
  display: inline;
  margin-right: 10px;
}
.fooer-link a {
  color: #bbbbbb;
}
.information {
  color: #bbbbbb;
  margin: 10px 0;
  font-size: 12px;
}
.information a {
  color: #bbbbbb;
}
.pretend {
  font-size: 16px;
  color: #333;
  font-family: kaiti;
  font-weight: 600;
}
/*自适应*/
@media print, screen and (max-width: 580px) {
  .main {
    width: 100%;
    margin-top: 0px;
    border-radius: 0px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3), 0px 0px 0px 0px rgba(0, 0, 0, 0.3);
  }
  .post-img {
    height: 200px;
  }
  .song,
  .post-title,
  .post-time,
  .links,
  .comments {
    padding: 0 20px !important;
  }
  .header-title {
    font-size: 20px;
  }
  .header-description {
    font-size: 12px;
  }
  #header {
    padding: 50px 20px 120px;
  }
  .list {
    padding: 10px 20px 50px;
  }
  .navigation-frame {
    display: none;
  }
  .navigation-phone {
    display: block;
  }
  .link {
    width: 50%;
  }
}
